In [28]:
import pandas as pd
from datetime import date, timedelta
import mysql.connector

### Function Definitions

In [37]:
# if our data was real time, in order to consider last p days starting from yesterday:
def set_period(p):
    yesterday = date.today() - timedelta(days = 2)
    period = timedelta(days = p-1)
    
    period_start = yesterday - period
    period_end = yesterday

    return(period_start, period_end)

In [39]:
# But our datebase is  frozen on oct 31st 2022, yesterday will not work
def set_period(p):
    period_end = date(2022,10,31)
    period_start = period_end - timedelta(days = p-1)

    return(period_start, period_end)

### Data exploration

In [16]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="growth_data",use_pure = True
)
query = """
SELECT
	user_id,
    subscription_id,
    CASE
		WHEN subscription_type = 0 THEN "Monthly"
        WHEN subscription_type = 1 THEN "Quarterly"
        WHEN subscription_type = 2 THEN "Annual"
	END as plan,
    subscription_status as status,
    CAST(date_start as DATE) as sub_start,
    CAST(date_deactivated as DATE) as sub_end
    FROM
	student_subscriptions
WHERE
	subscription_type != 3
ORDER BY user_id, date_start;
"""

# Load into DataFrame
df = pd.read_sql(query, con=conn)

# Preview
print(df.head())

conn.close()

   user_id  subscription_id     plan  status   sub_start     sub_end
0       31             8368   Annual       1  2022-03-31        None
1      182             8246  Monthly       3  2022-03-26  2022-06-08
2      182             9415  Monthly       3  2022-07-13  2022-08-13
3      221             4629  Monthly       3  2021-06-10  2021-07-10
4      235             6429   Annual       1  2021-11-28        None

C:\Users\User\AppData\Local\Temp\ipykernel_28452\3380008316.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

In [18]:
df.head()

   user_id  subscription_id     plan  status   sub_start     sub_end
0       31             8368   Annual       1  2022-03-31        None
1      182             8246  Monthly       3  2022-03-26  2022-06-08
2      182             9415  Monthly       3  2022-07-13  2022-08-13
3      221             4629  Monthly       3  2021-06-10  2021-07-10
4      235             6429   Annual       1  2021-11-28        None

In [24]:
df['sub_start'] = pd .to_datetime(df['sub_start'], infer_datetime_format = True)
df['sub_end'] = pd .to_datetime(df['sub_end'], infer_datetime_format = True)

C:\Users\User\AppData\Local\Temp\ipykernel_28452\2164813180.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['sub_start'] = pd .to_datetime(df['sub_start'], infer_datetime_format = True)

C:\Users\User\AppData\Local\Temp\ipykernel_28452\2164813180.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['sub_end'] = pd .to_datetime(df['sub_end'], infer_datetime_format = True)

In [26]:
df.head()

   user_id  subscription_id     plan  status  sub_start    sub_end
0       31             8368   Annual       1 2022-03-31        NaT
1      182             8246  Monthly       3 2022-03-26 2022-06-08
2      182             9415  Monthly       3 2022-07-13 2022-08-13
3      221             4629  Monthly       3 2021-06-10 2021-07-10
4      235             6429   Annual       1 2021-11-28        NaT