In [2]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="growth_data",use_pure = True
)
query = """
SELECT
	user_id,
    subscription_id,
    CASE
		WHEN subscription_type = 0 THEN "Monthly"
        WHEN subscription_type = 1 THEN "Quarterly"
        WHEN subscription_type = 2 THEN "Annual"
	END as plan,
    subscription_status as status,
    CAST(date_start as DATE) as sub_strart,
    CAST(date_deactivated as DATE) as sub_end,
    CAST(date_deactivated AS DATE) as sub_end
FROM
	student_subscriptions
WHERE
	subscription_type != 3
ORDER BY user_id, date_start;
"""

# Load into DataFrame
df = pd.read_sql(query, con=conn)

# Preview
print(df.head())

conn.close()

C:\Users\User\AppData\Local\Temp\ipykernel_28452\951262386.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

   user_id  subscription_id     plan  status  sub_strart     sub_end  \
0       31             8368   Annual       1  2022-03-31        None
1      182             8246  Monthly       3  2022-03-26  2022-06-08
2      182             9415  Monthly       3  2022-07-13  2022-08-13
3      221             4629  Monthly       3  2021-06-10  2021-07-10
4      235             6429   Annual       1  2021-11-28        None

      sub_end
0        None
1  2022-06-08
2  2022-08-13
3  2021-07-10
4        None

In [6]:
df.head()

,user_id,subscription_id,plan,status,sub_strart,sub_end,sub_end
0,31,8368,Annual,1,2022-03-31,None,None
1,182,8246,Monthly,3,2022-03-26,2022-06-08,2022-06-08
2,182,9415,Monthly,3,2022-07-13,2022-08-13,2022-08-13
3,221,4629,Monthly,3,2021-06-10,2021-07-10,2021-07-10
4,235,6429,Annual,1,2021-11-28,None,None